$transparent: rgba(0,0,0,0);

// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

@font-face {
  font-family: gn;
  src: url("/fonts/Gotham_Medium.woff");
}
@font-face {
  font-family: gb;
  src: url("/fonts/Gotham_Book.woff");
}
.no-padding{
  padding: 0;
}
.center{
  margin: 0 auto;
  display: block;
}
.panel-default{
  border: none;
}
.global-container{
  width: 100vw;
  display: flex;
  left: 0;
  top: 0;
  &.white{
    background: white;
    background-image: none;
  }
}

.global-container-r{
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  left: 0;
  top: 0;
  &.white{
    background: white;
    background-image: none;
  }
}

.flex-v-center{
  align-self: center;
}

@mixin link(){
  border: 2px solid white;
  text-align: center;
  color: white;
  text-decoration: none;
  width: 120px;
  padding: 6px 0;
  border-radius: 5px;
  height: 39px;
  font-family: gn;
  text-transform: uppercase;
  margin-bottom: 15px;
  background-color: $transparent;
  display: block;

}

@mixin title (){
  font-family: gn;
  text-align: center;
  padding-bottom: 15px;
  width: 100%;
  position: relative;
}

input.form-control {
  background: transparent!important;
  border: none!important;
  border-bottom: 2px solid white!important;
  box-shadow: none!important;
  border-radius: 0;
  text-align: center;
  color: white!important;
  margin-bottom: 30px;
}
input::placeholder {
  color: white!important;
  font-size: 18px;
}

$bg: linear-gradient(to top, #09203f 0%, #537895 100%);


@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.bounce{
  animation-name: bounceIn;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: alternate;
}