
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Style
@import "variables";

//

*{
  font-family: gb;
  color: white;
}
body{
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

h2{
  color: white;
  font-size: 70px;
  padding-bottom: 10px;
  display: block;
  font-size: 900;
  position: relative;
  &:after{
    position: absolute;
    height: 4px;
    width: 100px;
    content: "";
    background-color: white;
    bottom: 0;
    left: 0;
  }
}
//Start
nav.navbar-default{
  background-color: $transparent;
  ul{
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    align-items: center;
    a{
      display: inline-block;
      width: 25%;
      text-align: center;
      li{
        font-family: dr;
        font-size: 20px;
      }
    }
  }
}

.panel{
  background-color: $transparent;
}
.btn-primary {
  @include link();
}

//START PAGE
.start-logo{
  img{
    align-self: center;
    max-width: 100%;
    padding: 0 10%;
  }
}
//STEPS SCREEN
#myCarousel{
  height: 100%;
  width: 100%;
  .carousel-inner{
    height: 100%;
    .item{
      &:after{
        content: "";
        background-image: $bg;
        height: 100%; width: 100%;
        position: absolute;
        opacity: 0.6;
        top: 0;
        left: 0;
      }
      height: 100%;
      .carousel-caption{
        justify-content: center;
        display: flex;
        align-content: center;
        height: 100%;
        padding: 0 10%;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        flex-wrap: wrap;
        h3{
          font-family: gn;
          padding-bottom: 15px;
          width: 100%;
          position: relative;
          &.tittle-2{
            &:after{
              display: none;
            }
          }
          &:after{
            content: "";
            display: block;
            position: absolute;
            margin: 0 auto;
            bottom: 0;
            left: 0;
            right: 0;
            width: 120px;
            background-color: white;
            height: 1px;
          }
        }
        img{
          max-width: 70%;
          align-self: center;
          margin: -30px auto;
        }
        a{
          @include link;
        }
      }
      img{
        width: 120%;
        height: auto;
        max-width: none;
      }
    }
  }
}


//LOGIN

.login{
  h3{
    text-transform: uppercase;
    text-align: center;
    font-family: gb;
    font-size: 24px;
  }
}

//USUARIO
.user{
  max-width: 95%;
  margin: 0 auto;
  h3{
    text-align: center;
  }
}

//FORMS INFO
form.form-info{
  h3{
    margin-top: 15px;
    font-family: gb;
    margin-bottom: 30px;
  }
  p{
    margin-bottom: 15px;
  }
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  input{
    display: none;
  }
  label{
    height: 150px;
    text-align: center;
    width: 150px;
    img{
      margin-bottom: 10px;
    }
  }
  button{
    margin: 0 auto;
    @include link();
  }
}

//Hobbies
.hobbie{
  margin-right:  15px;
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
  display: inline-block;
  &.arte{background-image: url("/img/icons/hobbies/arte.svg")}
  &.cine{background-image: url("/img/icons/hobbies/cine.svg")}
  &.dibujar{background-image: url("/img/icons/hobbies/dibujar.svg")}
  &.ejercicio{background-image: url("/img/icons/hobbies/ejercicio.svg")}
  &.escribir{background-image: url("/img/icons/hobbies/escribir.svg")}
  &.leer{background-image: url("/img/icons/hobbies/leer.svg")}
  &.musica{background-image: url("/img/icons/hobbies/musica.svg")}
  &.amigos{background-image: url("/img/icons/hobbies/salirconamigos.svg")}
  &.teatro{background-image: url("/img/icons/hobbies/teatro.svg")}
  &.videojuegos{background-image: url("/img/icons/hobbies/videojuegos.svg")}
}

//habilidades
.skill{
  margin-right:  15px;
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
  display: inline-block;
  &.animacion{background-image: url("/img/icons/habilidades/animacion.svg")}
  &.diseñoi{background-image: url("/img/icons/habilidades/diseñodeinterfaz.svg")}
  &.diseñop{background-image: url("/img/icons/habilidades/diseñodepersonaje.svg")}
  &.edicion{background-image: url("/img/icons/habilidades/edicion.svg")}
  &.fotografia{background-image: url("/img/icons/habilidades/fotografia.svg")}
  &.ilustracion{background-image: url("/img/icons/habilidades/ilustracion.svg")}
  &.investigacion{background-image: url("/img/icons/habilidades/investigacion.svg")}
  &.modelado{background-image: url("/img/icons/habilidades/modelado3d.svg")}
  &.produccion{background-image: url("/img/icons/habilidades/produccion.svg")}
  &.programacion{background-image: url("/img/icons/habilidades/programacion.svg")}
}

//habilidades
.virtud{
  margin-right:  15px;
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
  display: inline-block;
  &.compromiso{background-image: url("/img/icons/virtudes/compromiso.svg")}
  &.empatia{background-image: url("/img/icons/virtudes/empatia.svg")}
  &.flexibilidad{background-image: url("/img/icons/virtudes/flexibilidad.svg")}
  &.honradez{background-image: url("/img/icons/virtudes/honradez.svg")}
  &.liderazgo{background-image: url("/img/icons/virtudes/liderazgo.svg")}
  &.perseverancia{background-image: url("/img/icons/virtudes/perseverancia.svg")}
  &.puntualidad{background-image: url("/img/icons/virtudes/responsabilidad.svg")}
  &.responsabilidad{background-image: url("/img/icons/virtudes/socializacion.svg")}
  &.socializacion{background-image: url("/img/icons/virtudes/trabajoenequipo.svg")}
  &.trabajo{background-image: url("/img/icons/virtudes/socializacion.svg")}  
}