
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Style
@import "variables";

//

.link{
  @include link();
  margin: 15px;
  display: inline-block;

}

.link-portafolio {
  @include link();
  margin: 15px auto;
}
.nuevo-proyecto{
  margin-top: 50px;
}
#app{
  overflow: hidden;
}
*{
  font-family: gb;
  color: white;
}
body{
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.content-app{
  padding-top: 50px;
}
/*h2{
  color: white;
  font-size: 70px;
  padding-bottom: 10px;
  display: block;
  font-size: 900;
  position: relative;
  &:after{
    position: absolute;
    height: 4px;
    width: 100px;
    content: "";
    background-color: white;
    bottom: 0;
    left: 0;
  }
}*/
//Start
.continuar-b{
  margin-top: -40px;
}
.navigation-bar{
  &:after, &:before{
    display: none;
  }
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.6);
  margin: 0;

  a{
    width: 25%;
    text-align: center;    
    &.active{
      border-bottom: 3px solid white;
      li{
        img{
          opacity: 1;
        }
      }
    }
    li{
      padding: 15px;
      img{
        height: 35px;
        width: 35px;
        opacity: 0.5;
      }
    }
  }
}
.user-hobbies, .virtudes, .skills{
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  h4{
    width: 100%;
  }
}
.user-menu{
  padding: 5px 0;
  background-color: rgba(255,255,255, 0.9);
  box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.75);  
  &.solo{
    height: 55px;
    z-index: 10;
  }
  width: 100%;
  background-color: white;
  position: relative;
  .usuario-pic{
    width: 55px;
    height: 55px;
    margin-left: 30px;
    margin-bottom: 5px;
    margin-top: 5px;    
  }
  .menu-logo{
    height: 50px;
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
  }
}

.panel{
  background-color: $transparent;
}
.btn-primary {
  @include link();
}

//START PAGE
.start-logo{
  img{
    align-self: center;
    max-width: 100%;
    padding: 0 10%;
  }
}
//STEPS SCREEN
#myCarousel{
  .carousel-indicators{
    bottom: 50px;
  }
  height: 100%;
  width: 100%;
  .carousel-inner{
    height: 100%;
    .item{
      &:after{
        content: "";
        background-image: $bg;
        height: 100%; width: 100%;
        position: absolute;
        opacity: 0.9;
        top: 0;
        left: 0;
      }
      height: 100%;
      .carousel-caption{
        justify-content: center;
        display: flex;
        align-content: center;
        height: 100%;
        padding: 0 10%;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        flex-wrap: wrap;
        h3{
          font-family: gn;
          padding-bottom: 15px;
          width: 100%;
          position: relative;
          &.tittle-2{
            &:after{
              display: none;
            }
          }
          &:after{
            content: "";
            display: block;
            position: absolute;
            margin: 0 auto;
            bottom: 0;
            left: 0;
            right: 0;
            width: 120px;
            background-color: white;
            height: 1px;
          }
        }
        img{
          width: 65%;
          align-self: center;
          margin: -50px auto;
          margin-top: -75px;
        }
        a{
          @include link;
          margin-top: -20px;
        }
      }
      img{
        width: 120%;
        height: auto;
        max-width: none;
      }
    }
  }
}

//LOGIN

.login{
  h3{
    text-transform: uppercase;
    text-align: center;
    font-family: gb;
    font-size: 24px;
  }
}

//USUARIO
.user{
  .user-big {
    max-width: 300px;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
  }
  max-width: 95%;
  margin: 0 auto;
  h3{
    text-align: center;
    margin: 0;
  }
}

//FORMS INFO
form.form-info{
  h3{
    margin-top: 15px;
    font-family: gb;
    margin-bottom: 30px;
  }
  p{
    margin-bottom: 15px;
  }
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  input{
    display: none;
    &:checked ~ label{
      opacity: 1;
    }
  }
  label{
    opacity: 0.5;
    height: 150px;
    text-align: center;
    width: 150px;
    img{
      margin-bottom: 10px;
    }
  }
  button{
    margin: 0 auto;
    @include link();
  }
}
.skills, .virtudes{
  a.link{
    @include link();
    margin: 15px auto;
  }
}
.content-p{
  width: 100%;
}
//Hobbies
.hobbie{
  width: 20%;
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
  display: inline-block;
  &.arte{background-image: url("/img/icons/hobbies/arte.svg")}
  &.cine{background-image: url("/img/icons/hobbies/cine.svg")}
  &.dibujar{background-image: url("/img/icons/hobbies/dibujar.svg")}
  &.ejercicio{background-image: url("/img/icons/hobbies/ejercicio.svg")}
  &.escribir{background-image: url("/img/icons/hobbies/escribir.svg")}
  &.leer{background-image: url("/img/icons/hobbies/leer.svg")}
  &.musica{background-image: url("/img/icons/hobbies/musica.svg")}
  &.amigos{background-image: url("/img/icons/hobbies/salirconamigos.svg")}
  &.teatro{background-image: url("/img/icons/hobbies/teatro.svg")}
  &.videojuegos{background-image: url("/img/icons/hobbies/videojuegos.svg")}
}

//habilidades
.skill{
  width: 20%;
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
  display: inline-block;
  &.animacion{background-image: url("/img/icons/habilidades/animacion.svg")}
  &.diseñoi{background-image: url("/img/icons/habilidades/diseñodeinterfaz.svg")}
  &.diseñop{background-image: url("/img/icons/habilidades/diseñodepersonaje.svg")}
  &.edicion{background-image: url("/img/icons/habilidades/edicion.svg")}
  &.fotografia{background-image: url("/img/icons/habilidades/fotografia.svg")}
  &.ilustracion{background-image: url("/img/icons/habilidades/ilustracion.svg")}
  &.investigacion{background-image: url("/img/icons/habilidades/investigacion.svg")}
  &.modelado{background-image: url("/img/icons/habilidades/modelado3d.svg")}
  &.produccion{background-image: url("/img/icons/habilidades/produccion.svg")}
  &.programacion{background-image: url("/img/icons/habilidades/programacion.svg")}
}

//habilidades
.virtud{
  height: 50px;
  width: 20%;
  width: 50px;
  background-position: center;
  background-size: cover;
  display: inline-block;
  &.compromiso{background-image: url("/img/icons/virtudes/compromiso.svg")}
  &.empatia{background-image: url("/img/icons/virtudes/empatia.svg")}
  &.flexibilidad{background-image: url("/img/icons/virtudes/flexibilidad.svg")}
  &.honradez{background-image: url("/img/icons/virtudes/honradez.svg")}
  &.liderazgo{background-image: url("/img/icons/virtudes/liderazgo.svg")}
  &.perseverancia{background-image: url("/img/icons/virtudes/perseverancia.svg")}
  &.puntualidad{background-image: url("/img/icons/virtudes/responsabilidad.svg")}
  &.responsabilidad{background-image: url("/img/icons/virtudes/socializacion.svg")}
  &.socializacion{background-image: url("/img/icons/virtudes/trabajoenequipo.svg")}
  &.trabajo{background-image: url("/img/icons/virtudes/socializacion.svg")}  
}

//boton
.boton-proyecto {
  position: fixed;
  bottom: 30px;
  right: 15px;
  a {
    height: 75px;
    width: 75px;
    display: block;
    background-image: url("/img/icons/nav/iconomethink.svg");
    background-position: center;
    background-size: cover;
  }
}

//NewProyect
.form-proyect{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  h3{
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 30px;
    font-family: gn;
  }
  input{
    background: transparent!important;
    border: none!important;
    border-bottom: 2px solid white!important;
    box-shadow: none!important;
    border-radius: 0;
    text-align: center;
    color: white!important;
    margin-bottom: 30px;
    width: 100%;
  }
  input::placeholder {
    color: white!important;
    font-size: 18px;
    font-family: gb;
  }
  button{
    margin: 0 auto;
    @include link();
    display: inline-block;
  }
}



//LIST

.list-users{
  position: relative;
  padding: 0;
  list-style: none;
  margin-top: 50px;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  .portfolio{
    @include link;
    position: absolute;
    right: 0;
    top: 15px;
    text-align: center;
  }
  li{
    width: 100%;
    display: inline-block;
    position: relative;
    .left{
      width: 100px;
      height: 100px;
      float: left;
    }
    .right{
      float: left;
      margin-left: 15px;
      a{
        display: block;
      }
      img{
        height: 30px;
      }
    }
  }
}

//MENSAJE
.new-message{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  display: none;
  form{
    width: 70%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    textarea{
      color: black;
      padding: 10px;
      margin: 30px 0;
      width: 100%;
    }
    button{
      @include link;
      margin: 5px;
    }
  }
}


//PORTAFOLIO
.portafolio{
  margin-top: 50px;
  width: 70%;
  margin: 0 auto;
  display: block;
  h2{
    text-align: center;
    margin-bottom: 30px;
  }
  ul{
    list-style: none;
    padding: 0;
    li{
      margin-bottom: 60px;
    }
  }
}

.bandeja-entrada{
  width: 80%;
  margin: 0 auto;
  margin-top: 75px;
  .mensaje-modal{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.4);
    .el-mensaje{
      height: 100%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      p.mensaje-t {
        width: 100%;
        padding: 100px;
        max-width: 350px;
        background-color: rgba(0,0,0, 0.6);
        border-radius: 5px;
      }
      form{
        button{
          @include link();
          margin: 15px;
          display: inline;
        }
      }
    }
  }
  .mensaje{
    p{
      span{
        margin-right: 30px;
        display: inline-block;
        vertical-align: middle;
        &.nuevo{
          width: 60px;
          height: 40px;
          background-image: url(/img/icons/nav/sobrecerrado.svg);
        }
        &.abierto{
          width: 60px;
          height: 61px;
          background-image: url(/img/icons/nav/sobreabierto.svg);
        }
      }
    }
  }
}
.member{
  display: none;
}
.m-bottom{
  margin-bottom: 30px!important;
}

.proyectos-list{
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-top: 50px;  
  h2{
    text-align: center;
    font-size: 24px;
    margin-top: 15px;
  }
  .proyect-list{
    padding: 0;
    li{
      margin-top: 15px;
      display: flex;
      .left{
        width: 100px;; 
        display: flex;
        align-items: center;
        img{
          max-width: 100%;
        }
      }
      .right{
        width: 70%;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        position: relative;
        .team-status{
          position: absolute;
          right: 0;
          top: 15px;
          p{
            padding: 9px 0;
          }
        }
        .team-status-active{
          position: absolute;
          right: 0;
          top: 15px;
          p{
            @include link;
            margin: 0;
            padding: 9px 0;
          }
        }
        h3{
          width: 100%;
          font-size: 14px;
          margin: 2.5px;
          p, a{
            width: 100%;
            color: white;
            font-size: 14px;
            margin: 2.5px;
          }
        }
      }
    }
  }
}

//single-proyect

.single-proyect{
  width: 90%;
  margin: 0 auto;
  h2{
    text-align: center;
  }
}

//evaluación 
.evaluacion{
  width: 90%;
  display: block;
  margin: 0 auto;
  .user{
    img{
      width: 100px;
      height: 100px;
    }
    p{
      font-size: 28px;
      vertical-align: middle;
      display: inline-block;
      margin: 0;
    }
  }
  .metricas{
    padding: 0;
    list-style: none;
    li{
      float: left;
      width: 100%;
      padding-left: 50px;
      p{
        float: left;
      }
      .controles{
        float: right;
        color: black;
        span{
          height: 50px;
          width: 50px;
          vertical-align: middle;
          display: inline-block;
        }
        input{
          height: 40px;
          width: 40px;
          padding: 12px;
          display: inline-block;
          vertical-align: middle;
          background-color: transparent;
          box-shadow: none;
          border: none;
          color: white;
          padding-top: 0;
          margin-top: -4px;
          font-size: 19px;
        }
      }
    }
  }
}

.virskill{
  text-align: center;
}

.graph{
  h2{
    font-family: gr;
  }
  vertical-align: middle;
  max-width: 80%;
}

.single-act {
  max-width: 90%;
  margin: 0 auto;
  img {
    max-width: 280px;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
  }
  h2 {
    text-align: center;
    font-size: 24px;
  }
  h4 {
    margin-top: 15px;
  }
  a {
    @include link();
    margin: 15px auto;
  }
}

form.proyectosingle{
  width: 90%;
  margin: 0 auto;
}